<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>重仓持股分析</title>
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}">
	<script src="{{url_for('static', filename='javascripts/vendor/custom.modernizr.js')}}"></script>
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<br>
			<h2><a href="/" style="color: white;">重仓持股分析<small style="font-size: 0.6em;"> - 高级筛选</small></a></h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top:-15px">
			<p><small class="info">2013_3 | 基金A股比例 | 基金增减比例 | 社保A股比例 | 社保增减比例 | QFII A股比例 | QFII增减比例 | 168结果</small></p>
		</div>
		<div class="large-10 columns" style="min-height: 300px;">
			<table>
				<thead>
					<tr>
						<th>代码</th>
						<th>简称</th>
						<th>类别</th>
						<th>家数</th>
						<th>本期持股数(万股)</th>
						<th width="80px">占已流通A股比例(%)</th>
						<th>同上期增减(万股)</th>
						<th width="90px">持股比例(%)</th>
						<th>上期家数</th>
						<th width="80px">同上期增减比例(%)</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="large-2 columns">
			<a href="#" class="stock-selector" data-dropdown="date" data-options="is_hover:true">时间选择</a>
			<ul id="date" class="f-dropdown" data-dropdown-content>
				<li><a href="/advance/2013_3">2013_3</a></li>
				<li><a href="/advance/2013_2">2013_2</a></li>
				<li><a href="/advance/2013_1">2013_1</a></li>
			</ul>
		</div>
		<form id="search" action="/{{category}}/{{holding_date}}">
			<div class="large-2 columns">
				<input name="a" value="{{a}}" type="text" class="stock-sieve" placeholder="基金A股比例" />
				<input name="d" value="{{d}}" type="text" class="stock-sieve" placeholder="基金增减比例" />
				<input name="a" value="{{a}}" type="text" class="stock-sieve" placeholder="社保A股比例" />
				<input name="d" value="{{d}}" type="text" class="stock-sieve" placeholder="社保增减比例" />
				<input name="a" value="{{a}}" type="text" class="stock-sieve" placeholder="QFII A股比例" />
				<input name="d" value="{{d}}" type="text" class="stock-sieve" placeholder="QFII增减比例" />
			</div>
		</form>
		<div class="large-2 columns">
			<a href="#" class="stock-button">筛选</a>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top: -20px;">
			<hr>
		</div>
		<div class="large-12 columns" style="height: 75px; margin-top: -15px;">
			<p><small>© 2013 all rights reserved</small></p>
		</div>
	</div>
	<script>
		document.write("<script src=" + ("__proto__" in {} ? "{{url_for('static', filename='javascripts/vendor/zepto.js')}}" : "{{url_for('static', filename='javascripts/vendor/jquery.js')}}") + "><\/script>");
	</script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.js')}}"></script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.dropdown.js')}}"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>
