<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>重仓持股分析</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='images/sf.ico')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}">
	<script src="{{url_for('static', filename='javascripts/vendor/custom.modernizr.js')}}"></script>
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<br>
			<h3><a href="/" style="color: white;"><img width="30px" height="30px" style="margin-top: -5px;" src="{{url_for('static', filename='images/sf.png')}}" /> 重仓持股分析<small style="font-size: 0.6em;"> - 高级筛选</small></a></h3>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top:-15px">
			<p><small class="info">{{ holding_date }} | 基金A股比例 > {{ ja }} | 基金增减比例 > {{ jd }} | 社保A股比例 > {{ sa }} | 社保增减比例 > {{ sd }} | QFII A股比例 > {{ qa }} | QFII增减比例 > {{ qd }} | {{ cross_ret | length }}结果</small></p>
		</div>
		<div class="large-10 columns" style="min-height: 400px;">
			<table>
				<thead>
					<tr>
						<th>代码</th>
						<th>简称</th>
						<th>类别</th>
						<th>家数</th>
						<th>持股(万)</th>
						<th>A股比例(%)</th>
						<th>增减(万股)</th>
						<th>持股比例(%)</th>
						<th>上期家数</th>
						<th>增减比例(%)</th>
					</tr>
				</thead>
				<tbody>
				{% for code in cross_ret %}
					{% for category in cross_ret[code] %}
					<tr>
						{% if cross_ret[code].keys().index(category) == 0 %}
						<td rowspan="{{ jj + sb + qf }}" valign="top"><a href="/trend/{{ code }}/{{ cross_ret[code][category].name }}" style="color: white; text-decoration: underline;">{{ code }}</a></td>
						<td rowspan="{{ jj + sb + qf }}" valign="top">{{ cross_ret[code][category].name }}</td>
						{% endif %}
						<td>{{ category_names[category] }}</td>
						<td>{{ cross_ret[code][category].count }}</td>
						<td>{{ cross_ret[code][category].stock_num }}</td>
						<td>{{ cross_ret[code][category].a_percent }}</td>
						<td>{{ cross_ret[code][category].delta_num }}</td>
						<td>{{ cross_ret[code][category].percent }}</td>
						<td>{{ cross_ret[code][category].pre_count }}</td>
						<td>{{ cross_ret[code][category].delta_num_percent }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="large-2 columns">
			<a href="#" class="stock-selector" data-dropdown="date" data-options="is_hover:true">{{ holding_date }}</a>
			<ul id="date" class="f-dropdown" data-dropdown-content>
			{% for hd in holding_dates %}
				<li><a href="/advance/{{hd}}?jj={{jj}}&sb={{sb}}&qf={{qf}}&ja={{ja}}&jd={{jd}}&sa={{sa}}&sd={{sd}}&qa={{qa}}&qd={{qd}}">{{ hd }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<form id="sieve" action="/advance/{{holding_date}}">
			<div class="large-2 columns">
				<input id="jj" name="jj" type="checkbox" {% if jj == 1 %} checked="checked" {% endif %} />
				<label for="jj">基金</label>
				<input id="sb" name="sb" type="checkbox" {% if sb == 1 %} checked="checked" {% endif %} />
				<label for="sb">社保</label>
				<input id="qf" name="qf" type="checkbox" {% if qf == 1 %} checked="checked" {% endif %} />
				<label for="qf">QFII</label>
			</div>
			<div class="large-2 columns">
				<input name="ja" value="{{ja}}" type="text" class="stock-sieve" placeholder="基金A股比例" />
				<input name="jd" value="{{jd}}" type="text" class="stock-sieve" placeholder="基金增减比例" />
				<input name="sa" value="{{sa}}" type="text" class="stock-sieve" placeholder="社保A股比例" />
				<input name="sd" value="{{sd}}" type="text" class="stock-sieve" placeholder="社保增减比例" />
				<input name="qa" value="{{qa}}" type="text" class="stock-sieve" placeholder="QFII A股比例" />
				<input name="qd" value="{{qd}}" type="text" class="stock-sieve" placeholder="QFII增减比例" />
			</div>
		</form>
		<div class="large-2 columns">
			<a href="javascript:$('#sieve').submit();" class="stock-button">筛选</a>
			<a href="/download/multiple?holding_date={{holding_date}}&jj={{jj}}&sb={{sb}}&qf={{qf}}&ja={{ja}}&jd={{jd}}&sa={{sa}}&sd={{sd}}&qa={{qa}}&qd={{qd}}" class="stock-button">导出</a>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top: -20px;">
			<hr>
		</div>
		<div class="large-12 columns" style="height: 75px; margin-top: -15px;">
			<p><small>© 2013 all rights reserved</small></p>
		</div>
	</div>
	<script>
		document.write("<script src=" + ("__proto__" in {} ? "{{url_for('static', filename='javascripts/vendor/zepto.js')}}" : "{{url_for('static', filename='javascripts/vendor/jquery.js')}}") + "><\/script>");
	</script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.js')}}"></script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.dropdown.js')}}"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>
