<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>重仓持股分析</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='images/sf.ico')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}">
	<script src="{{url_for('static', filename='javascripts/vendor/custom.modernizr.js')}}"></script>
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<br>
			<h3><a href="/" style="color: white;"><img width="30px" height="30px" style="margin-top: -5px;" src="{{url_for('static', filename='images/sf.png')}}" /> 重仓持股分析</a></h3>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top:-15px">
			<p><small class="info">{{ category_names[category] }} | {{ holding_date }} | A股比例 > {{a}} | 增减比例 > {{d}} | {{ holding_list | length }}结果</small></p>
		</div>
		<div class="large-10 columns" style="min-height: 400px;">
			<table>
				<thead>
					<tr>
						<th>代码</th>
						<th>简称</th>
						<th>日期</th>
						<th>家数</th>
						<th>持股(万)</th>
						<th>A股比例(%)</th>
						<th>增减(万股)</th>
						<th>持股比例(%)</th>
						<th>上期家数</th>
						<th>增减比例(%)</th>
					</tr>
				</thead>
				<tbody>
				{% for holding in holding_list %}
					<tr>
						<td><a href="/trend/{{ holding.code }}/{{ holding.name }}" style="color: white; text-decoration: underline;">{{ holding.code }}</a></td>
						<td>{{ holding.name }}</td>
						<td>{{ holding.date }}</td>
						<td>{{ holding.count }}</td>
						<td>{{ holding.stock_num }}</td>
						<td>{{ holding.a_percent }}</td>
						<td>{{ holding.delta_num }}</td>
						<td>{{ holding.percent }}</td>
						<td>{{ holding.pre_count }}</td>
						<td>{{ holding.delta_num_percent }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="large-2 columns">
			<a href="#" class="stock-selector" data-dropdown="org" data-options="is_hover:true">{{ category_names[category] }}</a>
			<ul id="org" class="f-dropdown" data-dropdown-content>
			{% for cur_category in category_names %}
				<li><a href="/holding/{{cur_category}}/{{holding_date}}">{{ category_names[cur_category] }}</a></li>
			{% endfor %}
			</ul>
			<a href="#" class="stock-selector" data-dropdown="date" data-options="is_hover:true">{{ holding_date }}</a>
			<ul id="date" class="f-dropdown" data-dropdown-content>
			{% for hd in holding_dates %}
				<li><a href="/holding/{{ category }}/{{ hd }}">{{ hd }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<form id="sieve" action="/holding/{{ category }}/{{ holding_date }}" method="get">
			<div class="large-2 columns">
				<input name="a" value="{{a}}" type="text" class="stock-sieve" placeholder="A股比例" />
				<input name="d" value="{{d}}" type="text" class="stock-sieve" placeholder="增减比例" />
			</div>
		</form>
		<div class="large-2 columns">
			<a href="/advance" class="stock-button">高级</a>
			<a href="javascript:$('#sieve').submit();" class="stock-button">筛选</a>
			<a href="/download/single?category={{category}}&holding_date={{holding_date}}&a={{a}}&d={{d}}" class="stock-button">导出</a>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns" style="margin-top: -20px;">
			<hr>
		</div>
		<div class="large-12 columns" style="height: 75px; margin-top: -15px;">
			<p><small>© 2013 all rights reserved</small></p>
		</div>
	</div>
	<script>
		document.write("<script src=" + ("__proto__" in {} ? "{{url_for('static', filename='javascripts/vendor/zepto.js')}}" : "{{url_for('static', filename='javascripts/vendor/jquery.js')}}") + "><\/script>");
	</script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.js')}}"></script>
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.dropdown.js')}}"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>
